body {
    background-color:blueviolet;
  }
  
  h1 {
    color:darkslategrey;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
}
div{
  margin-bottom: 150px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 150px;
  background-color:ghostwhite;
  border-radius: 5px;
  box-shadow: 10px 10px 10px;
}
#titulo-css{

    color:black;
}
}
p{
    margin-left: 20px;
    margin-right: 20px;
  }
  div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  }
